# Node
node_modules/
dist/
build/
*.tsbuildinfo

# Environment
.env
*.env

# Trae
.trae/

# Uploads
uploads/*.mp4
uploads/*.mjpeg
uploads/*.jpeg
uploads/*.jpg
uploads/*.png

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log